.dart_tool/
.packages
.pub/
.flutter-plugins
.flutter-plugins-dependencies
build/
android/.gradle/
android/local.properties
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/Flutter/ephemeral/
windows/flutter/ephemeral/
linux/flutter/ephemeral/